<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
       "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<bean id="bcbsPortalProps" lazy-init="true" scope="singleton"
		class="com.bcbs.sso.saml.BcbsLoginProps">
		<property name="keystore" value="/keys/BCBS/saml_assertion_sign_cert.jks" />
		<property name="keystorePass" value="password" />
		<property name="keystoreAlias" value="idp" />
		<property name="issuer" value="https://www.bcbsnc.com/" />
		<property name="audienceRestriction" value="SP-EPLN-POLARIS-BCBSNC-PREPROD" />
		<property name="recipientURL" value="https://crm-bcbs-uat.gcmt.epsilon.com/" />
		
		<property name="memberAttribute_BCBS">
				<map>
						<entry key="userId" value="userId" />
						<entry key="secretKey" value="secretKey"  />
						
				</map>
		</property>  
		
		
		<property name="partnerKeystore" value="/keys/BCBS/saml_response_encrypt_cert.jks"/>
        <property name="partnerKeystorePass" value="password"/>
        <property name="partnerKeystoreAlias" value="idp"/>    
		
		<property name="signatureRequired"   value="true"/>
		<property name="encryptionRequired"   value="true"/>
		
		<property name="samlPostURL" value="http%3A%2F%2Flocalhost:8080%2FportalLoginTestSaml.jspx" /> 
		
	</bean>
	
	<bean id="bcbsLoginProps" lazy-init="true" scope="singleton"
		class="com.bcbs.sso.saml.BcbsLoginProps">
		<property name="keystore" value="/keys/BCBS/saml_assertion_sign_cert.jks" />
		<property name="keystorePass" value="password" />
		<property name="keystoreAlias" value="idp" />
		<property name="issuer" value="https://www.bcbsnc.com/" />
		<property name="audienceRestriction" value="SP-EPLN-POLARIS-BCBSNC-PREPROD" />
		<property name="recipientURL" value="https://crm-bcbs-uat.gcmt.epsilon.com/" />
		
		<property name="memberAttribute_BCBS">
				<map>
						<entry key="userId" value="userId" />
						<entry key="secretKey" value="secretKey"  />
		    	</map>
		</property>  
		
		<property name="partnerKeystore" value="/keys/BCBS/saml_response_encrypt_cert.jks"/>
        <property name="partnerKeystorePass" value="password"/>
        <property name="partnerKeystoreAlias" value="idp"/>
		
		<property name="signatureRequired"   value="true"/>
		<property name="encryptionRequired"   value="true"/>
		
		<property name="samlPostURL" value="http%3A%2F%2Flocalhost:8080%2Fsaml-project%2FportalLoginTestSaml.jspx" /> 
		
	</bean>
	
</beans>
